  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
  }

  .container {
      margin: 80%;
      max-width: 1280px;
      margin: 0 auto;
  }

  a {
      text-decoration: none;
      color: inherit;
  }



  li {
      list-style-type: none;
  }

  header .container {
      display: flex;
      justify-content: space-between;
      margin-top: 55px;
      align-items: center;
  }



  .btn,
  .Apply-btn {
      padding: 10px 24px;
      border-radius: 5px white;
      font-weight: bold;
      cursor: pointer;
      border: none;
  }

  .btn {
      background-color: #fff;
      color: #000;
  }

  .Apply-btn {
      background-color: #000;
      color: #fff;
  }





  header .container nav ul li a {
      font-family: Roboto;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0%;
      margin-left: 10px;
  }

  h1 {
      width: 383px;
      padding-top: 155px;
      font-family: Roboto;
      font-weight: 400;
      font-size: 58px;
      line-height: 64.17px;
      letter-spacing: 2.33px;
  }




  .hero .container .mak {
      margin-left: 4px;
  }

  .hero .container .uyl {
      margin-left: 4px;
  }

  .hero {
      background: linear-gradient(to right, #ffffff 40%, #ACF8F5 40% 100%);
      height: 98vh;
      margin-bottom: 200px;
  }

  .hero .container {

      position: relative;
  }

  .hero .container .ed {

      position: absolute;
      top: 180px;
      left: 360px;

  }

  .book {
      background-color: #F7F7F7;
      height: 200vh;
  }


  .imageges {
      display: flex;
      width: 55px;
      height: 74px;
      gap: 300px;


  }

  .texc {
      position: relative;
  }

  .texc {
      position: absolute;
      top: 1180px;
      left: 180px;
  }

  .ds {

      font-weight: 400;
      font-style: Regular;
      font-size: 33px;
      line-height: 26.67px;
      letter-spacing: 0%;

  }

  .b {
      position: relative;
  }

  .b .i {
      position: absolute;
      bottom: 450px;
      left: 100px;
  }

  .quiz {
      position: absolute;
      bottom: 1px;
      top: 20px;
      left: 20px;
  }

  .start {
      position: absolute;
      top: 74px;
      left: 1px;
  }

  .call {
      position: absolute;
      top: 25px;
      left: 80px;
  }

  .sp {
      position: absolute;
      top: 34px;
      right: 20px;
  }

  .d {
      margin-top: 60px;
  }

  .h {
      margin-top: 120px;
  }

  .k {
      margin-top: 180px;
  }

  .f {
      margin-top: 240px;
  }

  .imi {
      position: relative;
  }

  .imi img {
      position: absolute;
      bottom: 280px;
      left: 100px;
  }

  .kuy {
      position: absolute;
      bottom: 300px;
      left: 270px;
  }

  .bbs {
      font-weight: 400;
      font-style: Regular;
      font-size: 33px;
      line-height: 26.67px;
      letter-spacing: 0%;
  }

  .delta {
      position: relative;
  }

  .delta .bbs {
      position: absolute;
      bottom: 840px;
      left: 720px;
  }

  .delta .qwer {
      position: absolute;
      bottom: 805px;
      left: 720px;
  }

  .hhl {

      position: relative;
  }

  .hhl .b {
      position: absolute;
      bottom: 240px;
      left: 558px;
  }

  .hhw .hhl {
      position: absolute;
      top: 60px;
      left: 0;
  }

  .hhs .hhw {
      position: absolute;
      top: 60px;
      left: 0;
  }

  .hh .hhs {
      position: absolute;
      top: 60px;
      left: 0;
  }

  .ll .hh {
      position: absolute;
      top: 60px;
      left: 0;
  }

  .kill {
      position: relative;
  }

  .kill img {
      position: absolute;
      bottom: 280px;
      left: 658px;
  }

  .siat {
      position: absolute;
      bottom: 300px;
      left: 840px;
  }

  .ki {
      position: relative;
  }

  .ki img {
      position: absolute;
      bottom: 740px;
      left: 1000px;
  }

  .containers {
      background-color: rgba(247, 247, 247, 1);
  }

  .containers {
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
  }

  .post {
      position: relative;
  }

  .post .tey {
      position: absolute;
      top: 239px;
      left: 147px;
  }

  .post .puy {
      position: absolute;
      top: 294px;
      left: 90px;
  }

  .lol {
      position: absolute;
      top: 240px;
      left: 550px;
  }

  .cost {
      position: absolute;
      top: 440px;
  }

  .idt {
      position: absolute;
      top: 294px;
      left: 520px;
  }

  .buy {
      position: absolute;
      top: 240px;
      left: 950px;
  }

  .par {
      position: absolute;
      top: 294px;
      left: 920px;
  }

  .kist {
      background-color: rgba(110, 235, 157, 1);

      font-weight: 400;
      font-style: Regular;
      font-size: 33px;

      line-height: 40px;
      letter-spacing: 1px;

  }

  .kist .p {
      font-weight: 400;
      font-style: Regular;
      font-size: 33px;
      padding-top: 189px;
      margin-left: 48px;
      line-height: 40px;
      letter-spacing: 1px;

  }

  .kist .pp {
      margin-top: 27px;
      margin-left: 48px;

      font-weight: 400;
      font-style: Regular;
      font-size: 15px;

      line-height: 23.25px;
      letter-spacing: 0%;

  }

  .best {
      background-color: white;
  }

  .best {
      position: relative;
  }

  .best .cost {
      position: absolute;
      bottom: 400px;
      left: 78px;
  }

  .col {
      position: absolute;
      top: 500px;
      left: 48px;
      font-weight: 400;
      font-style: Regular;
      font-size: 15px;

      line-height: 23.25px;
      letter-spacing: 0.15px;
      text-align: center;

  }

  .yt {
      position: absolute;
      top: 256px;
      left: 700px;

      font-weight: 400;
      font-style: Regular;
      font-size: 33px;

      line-height: 40px;
      letter-spacing: 1px;

  }

  .ert {
      position: absolute;
      top: 310px;
      left: 710px;
      font-weight: 400;
      font-style: Regular;
      font-size: 15px;

      line-height: 23.25px;
      letter-spacing: 0%;

  }

  .near {
      background-color: white;
      position: relative;
      display: flex;

  }

  .qaw {
      position: absolute;
      top: 410px;
      left: 186px;

      font-weight: 400;
      font-style: Regular;
      font-size: 33px;

      line-height: 40px;
      letter-spacing: 1px;
      text-align: center;

  }

  .ws {
      position: absolute;
      top: 467px;
      left: 128px;
  }

  .pdp {
      position: absolute;
      top: 48px;
      left: 780px;
  }

  .mn {
      position: absolute;
      top: 395px;
      left: 805px;

      font-weight: 400;
      font-style: Regular;
      font-size: 33px;

      line-height: 40px;
      letter-spacing: 1px;
      text-align: center;

  }

  .poi {
      position: absolute;
      top: 534px;
      left: 775px;
      text-align: center;
      font-weight: 400;
      font-style: Regular;
      font-size: 15px;
      line-height: 23.25px;
      letter-spacing: 0%;
      text-align: center;

  }

  .bo {
      background-color: #000;
      color: white;
  }

  .card {
      text-align: center;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.56px;
      text-align: center;
      text-transform: uppercase;
      opacity: 0.7;
  }

  .lld {
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-left: 360px;
      font-weight: 400;
      font-style: Regular;
      font-size: 33px;
      line-height: 40px;
      letter-spacing: 1px;
      text-align: center;

  }

  .imk {
      position: relative;
  }

  .imk .ssed {
      position: absolute;
      top: 120px;
      left: 78px;
      color: black;
  }

  .comuz {

      position: absolute;
      top: 175px;
      left: 76px;
      color: black;
  }

  .imk .ok {
      position: absolute;
      top: 48px;
      left: 78px;
  }

  .orial {
      position: absolute;
      top: 48px;
      left: 507px;
  }

  .you {
      position: absolute;
      top: 63px;
      left: 524px;
  }

  .was {
      position: absolute;
      top: 125px;
      left: 510px;
      color: black;
      font-weight: 400;
      font-style: Regular;
      font-size: 20px;

      line-height: 28px;
      letter-spacing: 0%;

  }

  .ppe {
      position: absolute;
      top: 179px;
      left: 510px;
      color: black;

      font-weight: 400;
      font-style: Regular;
      font-size: 18px;

      line-height: 28px;
      letter-spacing: 0%;

  }

  .hj {
      position: absolute;
      top: 48px;
      left: 920px;
      color: black;

      font-weight: 400;
      font-style: Regular;
      font-size: 18px;

      line-height: 28px;
      letter-spacing: 0%;

  }

  .ser {
      position: absolute;
      top: 120px;
      left: 916px;
      font-weight: 400;
      font-style: Regular;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0%;
      color: black;
  }

  .klj {
      position: absolute;
      top: 174px;
      left: 916px;

      color: black;
  }

  .pol {

      font-weight: 400;
      font-style: Regular;
      font-size: 33px;

      line-height: 40px;
      letter-spacing: 1px;

  }

  .kks {
      margin-top: 49px;
      padding-top: 20px;
  }

  .kl {
      position: relative;

  }

  .lk {
      margin-top: 84px;
  }

  .wed {
      position: absolute;
      top: 255px;
      left: 260px;
  }

  .qaer {
      position: absolute;
      top: 303px;
      left: 20px;
  }

  .yut {
      margin-bottom: 57px;
      margin-left: 20px;
  }

  .terms {
      position: absolute;
      top: 255px;
      left: 707px;
  }

  .tue {
      position: absolute;
      top: 300px;
      left: 450px;
  }

  .fj {
      position: absolute;
      top: 466px;
      left: 450px;
  }

  .ewr {
      position: absolute;
      top: 485px;
      left: 450px;

      font-weight: 400;
      font-style: Regular;
      font-size: 13px;

      line-height: 20px;
      letter-spacing: 0%;

  }

  .ooo {
      margin-left: 34px;
  }

  .por {
      position: absolute;
      top: 340px;
      left: 1152px;
  }

  .lok {
      position: absolute;
      top: 363px;
      left: 893px;
  }

  .il {
      position: absolute;
      top: 604px;
      left: 895px;

  }

  .nm {
      position: absolute;
      top: 623px;
      left: 895px;
  }

  .c {
      position: absolute;
      top: 6830px;
      left: 148px;
      font-family: Roboto;
      font-weight: 400;
      font-style: Regular;
      font-size: 27px;
      leading-trim: NONE;
      line-height: 33.07px;
      letter-spacing: 0%;

  }

  .mmb {
      position: absolute;
      top: 6900px;
      left: 148px;
  }

  .Appl-btn {
      padding: 10px 24px;

      font-weight: bold;
      cursor: pointer;
      border: none;
      background-color: #000;
      color: white;
      position: absolute;
      top: 7000px;
      left: 148px;
  }

  .kn {
      padding-top: 66px;
      padding-left: 37px;
      font-family: Roboto;
      font-weight: 400;
      font-style: Regular;
      font-size: 12px;
      leading-trim: NONE;
      line-height: 18px;
      letter-spacing: 0%;
      opacity: 0.6;
  }

  .kok {
      padding-top: 66px;
      padding-left: 37px;
      font-family: Roboto;
      font-weight: 400;
      font-style: Regular;
      font-size: 12px;
      leading-trim: NONE;
      line-height: 18px;
      letter-spacing: 0%;
      opacity: 0.6;
  }

  .kost {
      display: flex;
  }

  footer {
      background-color: #000;
      color: white;
  }

  .des {
      display: flex;
      gap: 48px;
      position: relative;
  }

  .asd {
      padding-left: 314px;
  }

  .oi {
      position: absolute;
      top: 0;
      left: 0;
  }

  .App-btn {
      border: 2px solid white;
  }

  .ers {
      margin-left: 900px;
  }

  .erss {
      margin-left: 144px;
  }

  .wcv {
      font-weight: 400;
      font-style: Regular;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0%;
      opacity: 0.5;
  }

  .fg {
      justify-content: space-between;
      display: flex;
  }

  .fg .navbar ul {
      display: flex;
      font-weight: 400;
      font-style: Regular;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0%;
      opacity: 0.5;
      gap: 32px;
  }